<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <!-- <system.web>
    <compilation tempDirectory="C:\Inetpub\vhosts\tempotravellerindia.in\tmp" />
    <customErrors mode="On" />
  </system.web> -->

  <system.webServer>

    <!-- <tracing>
      <traceFailedRequests>
        <clear />
      </traceFailedRequests>
    </tracing> -->

    <rewrite>
      <rules>

        <rule name="Force Lowercase Everything" stopProcessing="true">
          <match url=".*[A-Z].*" ignoreCase="false" />
          <action type="Redirect"
                  url="{ToLower:{URL}}"
                  redirectType="Permanent" />
        </rule>

        <!-- Remove .php / .htm / .html -->
        <rule name="Remove Extensions" stopProcessing="true">
          <match url="^(.*)\.(php|htm|html)$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" />
          </conditions>
          <action type="Redirect" url="/{R:1}" redirectType="Permanent" />
        </rule>

        <rule name="Redirect Seater Query" stopProcessing="true">
          <match url="^seater-tempo-traveller$" />
          <conditions>
            <add input="{QUERY_STRING}" pattern="^seater=(9|12|15|16|20|26)$" />
          </conditions>
          <action type="Redirect" url="/{C:1}-seater-tempo-traveller" redirectType="Permanent"
            appendQueryString="false" />
        </rule>

        <rule name="Redirect Seater + City Query" stopProcessing="true">
          <match url="^(9|12|15|16|20|26)-seater-tempo-traveller$" />
          <conditions>
            <add input="{QUERY_STRING}" pattern="^city=(delhi|gurgaon|gurugram|faridabad|noida|ghaziabad)$" />
          </conditions>
          <action type="Redirect" url="/{R:1}-seater-tempo-traveller-{C:1}" redirectType="Permanent"
            appendQueryString="false" />
        </rule>

        <rule name="Redirect City Service Query" stopProcessing="true">
          <match url="^serve-city$" />
          <conditions>
            <add input="{QUERY_STRING}" pattern="^city=(delhi|gurgaon|gurugram|faridabad|noida|ghaziabad)$" />
          </conditions>
          <action type="Redirect" url="/tempo-traveller-in-{C:1}" redirectType="Permanent" appendQueryString="false" />
        </rule>

        <rule name="Redirect Route Query" stopProcessing="true">
          <match url="^city-destination$" />
          <conditions>
            <add input="{QUERY_STRING}" pattern="^from=(delhi|gurgaon|gurugram|faridabad|noida|ghaziabad)&amp;to=([a-zA-Z-]+)$" />
          </conditions>
          <action type="Redirect" url="/tempo-traveller-{C:1}-to-{C:2}" redirectType="Permanent"
            appendQueryString="false" />
        </rule>

        <rule name="Redirect Local Area Query" stopProcessing="true">
          <match url="^local-area$" />
          <conditions>
            <add input="{QUERY_STRING}" pattern="^city=(delhi|gurgaon|gurugram|faridabad|noida|ghaziabad)&amp;area=([a-zA-Z-]+)$" />
          </conditions>
          <action type="Redirect" url="/{C:1}/tempo-traveller-in-{C:2}" redirectType="Permanent"
            appendQueryString="false" />
        </rule>

        <rule name="Redirect Blog Query" stopProcessing="true">
          <match url="^post$" />
          <conditions>
            <add input="{QUERY_STRING}" pattern="^slug=([a-zA-Z0-9-]+)$" />
          </conditions>
          <action type="Redirect" url="/blog/{C:1}" redirectType="Permanent" appendQueryString="false" />
        </rule>


        <rule name="Redirect Search Query" stopProcessing="true">
          <match url="^search$" />
          <conditions>
            <add input="{QUERY_STRING}" pattern="^q=([a-zA-Z0-9-]+)$" />
          </conditions>
          <action type="Redirect" url="/search/{C:1}" redirectType="Permanent" appendQueryString="false" />
        </rule>

        <rule name="Redirect Search Pagination Query" stopProcessing="true">
          <match url="^search$" />
          <conditions>
            <add input="{QUERY_STRING}" pattern="^q=([a-zA-Z0-9-]+)&amp;page=([0-9]+)$" />
          </conditions>
          <action type="Redirect" url="/search/{C:1}/page/{C:2}" redirectType="Permanent" appendQueryString="false" />
        </rule>

        <rule name="Fleet Pages" stopProcessing="true">
          <match url="^(9|12|15|16|20|26)-seater-tempo-traveller$" />
          <action type="Rewrite" url="seater-tempo-traveller.php?seater={R:1}" />
        </rule>

        <rule name="Seater + City Page" stopProcessing="true">
          <match url="^(9|12|15|16|20|26)-seater-tempo-traveller-(delhi|gurgaon|gurugram|faridabad|noida|ghaziabad)$" />
          <action type="Rewrite" url="seater-tempo-traveller.php?seater={R:1}&amp;city={R:2}" />
        </rule>

        <rule name="City Service Page" stopProcessing="true">
          <match url="^tempo-traveller-in-(delhi|gurgaon|gurugram|faridabad|noida|ghaziabad)$" />
          <action type="Rewrite" url="serve-city.php?city={R:1}" />
        </rule>

        <rule name="Tempo Route Page" stopProcessing="true">
          <match url="^tempo-traveller-(delhi|gurgaon|gurugram|faridabad|noida|ghaziabad)-to-([a-zA-Z-]+)$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="city-destination.php?from={R:1}&amp;to={R:2}" appendQueryString="false" />
        </rule>

        <rule name="Local Area Page" stopProcessing="true">
          <match url="^(delhi|gurgaon|gurugram|faridabad|noida|ghaziabad)/tempo-traveller-in-([a-zA-Z-]+)$" />
          <action type="Rewrite" url="local-area.php?city={R:1}&amp;area={R:2}" />
        </rule>

        <rule name="Blog Post" stopProcessing="true">
          <match url="^blog/([a-zA-Z0-9-]+)$" />
          <action type="Rewrite" url="post.php?slug={R:1}" />
        </rule>

        <rule name="Search Pagination" stopProcessing="true">
          <match url="^search/([a-zA-Z0-9-]+)/page/([0-9]+)$" />
          <action type="Rewrite" url="search.php?q={R:1}&amp;page={R:2}" />
        </rule>

        <rule name="Search" stopProcessing="true">
          <match url="^search/([a-zA-Z0-9-]+)$" />
          <action type="Rewrite" url="search.php?q={R:1}" />
        </rule>

        <rule name="Rewrite Clean to PHP" stopProcessing="true">
          <match url="^(.*)$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            <add input="{REQUEST_FILENAME}.php" matchType="IsFile" />
          </conditions>
          <action type="Rewrite" url="{R:1}.php" />
        </rule>

        <rule name="Catch All Safe" stopProcessing="true">
          <match url=".*" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="router.php" />
        </rule>

      </rules>
    </rewrite>

    <httpErrors errorMode="Detailed" />

  </system.webServer>
</configuration>